---
type Props = {
  title: string;
};
const { title = "Title" } = Astro.props;
---

<div
  class="bg-monster/10 border border-monster/40 text-monster flex items-center justify-center leading-none pt-2 pb-1 text-center select-none rounded px-4 font-mono text-sm w-fit uppercase tracking-widest transition-all hover:bg-monster/20 hover:border-monster/70"
>
  <span>{title}</span>
</div>
