---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@/components/Date.astro";
import Layout from "@/layouts/Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout>
  <article class="pb-10 grid place-items-center grid-cols-1">
    <div class="w-full grid place-items-center my-10 px-10 overflow-x-hidden">
      {
        heroImage && (
          <img
            src={heroImage}
            alt="hero-image"
            class="rounded-lg border border-monster/30"
          />
        )
      }
    </div>
    <div
      class="prose !max-w-[90vw] overflow-x-hidden !break-words prose-invert prose-img:rounded-lg prose-img:scale-90 prose-hr:border-monster/40 prose-a:text-monster prose-a:no-underline hover:prose-a:underline prose-headings:font-monster prose-headings:uppercase prose-headings:tracking-widest prose-code:text-monster prose-code:bg-surface px-4 md:px-0 md:max-w-4xl"
    >
      <div>
        <div class="font-mono text-monster/70 text-sm uppercase tracking-widest">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="text-white/50 mt-1">
                Last updated: <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1 class="font-monster uppercase tracking-widest mt-4">{title}</h1>
        <hr class="border-monster/40 my-6" />
      </div>
      <slot />
    </div>
  </article>
</Layout>
