---
import type { CollectionEntry } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
import BinaryBackground from "@/components/BinaryBackground.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<html lang="en" style="overflow-x: clip">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    class="bg-monster-dark text-white tracking-wide font-mono" style="overflow-x: clip"
  >
    <BinaryBackground />
    <header class="fixed top-0 w-screen z-[9999]"><Navbar /></header>
    <main class="relative z-[1] pt-28 md:pt-20"><slot /></main>
    <footer class="relative z-[1] w-screen bottom-0 overflow-x-hidden"><Footer /></footer>
  </body>
</html>
